octype html
html
    head

    body
        div
            h3 CompanyName
        div
            block content

        div
            | Contacts: --------

            | Address: ---------

            | Other: --------
